* {
  box-sizing: border-box;
}

.container {
  padding: 24px 24px 0 24px;
  border: 2px solid lightgray;
}

.row {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box-wrapper,
.box-large {
  width: 45%;
}

.tiny-wrapper {
  display: flex;
  justify-content: space-between;
}

.box {
  border: 2px solid lightgray;
  margin-bottom: 24px;
}

.box-small,
.box-tiny {
  height: 50px;
}

.box-tiny {
  width: 30%;
}
