.container {
  padding: 10px;
  border: 2px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.box-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 100%;
  max-width: 50px;
  height: 50px;
  border: 2px solid lightgray;
}

.box-large {
  max-width: 100px;
  height: 100px;
}
